* {
	margin:0;
	padding: 0;
	border: 0;
}

.hero-image-section {
  background-image: url("../images/hero-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 25px;
}

.container {
  text-align: center;
  font-size: 10px;
  color: blue;
  padding-top: 50px;
  font-size: 16px;
}

label.label_input_wrap {
  vertical-align: top;
  display: block;
  margin: 0 auto;
  padding: 10px 0;
}

input,
textarea {
  border: 8px solid yellow;
  padding: 9px 11px;
  text-decoration-color: blue;
}

 input[type="submit"] {
  width: 100px;
  padding: 12px 20px;
  margin: 8px 0;
  text-align: center;
}
