* {
	margin:0;
	padding: 0;
	border: 0;
}

img.bg {
  background: url("../images/bg.jpg");
  height: 100%;
  background: no-repeat;
	background-size: cover;
	background-position: center;
	padding:500px 0;
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

label.label_input_wrap {
    display: block;
}

.comments {
	border: 1px solid blue;
	padding: 9px 11px;
}
