* {
	margin:0;
	padding: 0;
	border: 0;
}

body {
  background: url("../images/bg.jpg");
  height: 100%;
  background: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 500px 0;
}

label.label_input_wrap {
    vertical-align: top;
    margin: 0 auto;
}

input,
textarea {
  border: 1px solid blue;
  padding: 9px 11px;
  text-decoration-color: yellow;
}

form{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}
.contact-section {
	padding: 100px 0;
	width: 630px;
	margin: 0 auto;
}
